# Ignore everything except site files
*
!index.html
!vegalite.html
!deneb.html
!fpl.html
!viewer.html
!privacy.html
!style.css
!*.png
!*.jpg
!*.svg
!.gitignore

# Power BI / Deneb files (belong in a separate repo)
**/.pbi/localSettings.json
**/.pbi/cache.abf